
@font-face {
       font-family: pantonSemi;
       src:url("fonts/Panton-SemiBold.otf");
   }

@font-face {
    font-family: panton;
    src:url("fonts/Panton-Regular.otf");
}

@font-face {
    font-family: pantonBold;
    src:url("fonts/Panton-Bold.otf");
}
   *{
       font-family:panton;
   }

.clear{
    clear: both;
}

.container {
    width: 90% !important;
}
.bg-topbar{
    background-image: url('/public/images/topbar-bg.png') !important;
    background-color: transparent;
}
.navbar-brand{
    /*padding: 23px 0 !important;*/
}
.nav-link.dropdown-toggle{
    font-family: pantonBold;
    font-size: 15px;
    color: #b3b3b3 !important;
}
.dropup, .dropright, .dropdown, .dropleft{
    border-right: 3px solid #9c9c9c;
    padding: 0px 0px;
}
a.nav-link{
    font-family: pantonBold;
    font-size: 14px;
    /*color: #ffffff !important;*/
}
.singin{
    padding: 0 15px 0 23px;
}
.singin a{
    padding: 8px 31px !important;
    border: 2px solid #df3e03;
    border-radius: 5px;
}
.register a{
    padding: 9px 27px !important;
    background: #df3e03;
    border-radius: 5px;
}
#carousel-1 .carousel-caption {
    top: 35%;
    padding: 0;
}
#carousel-2{
    display: inline-block;
    position: inherit;
    background: transparent !important;
    width: 100%;
}
#carousel-2 .carousel-inner {
    position: inherit !important;
}
#carousel-2 .carousel-item {
    position: inherit !important;
    background: transparent !important;
}
#carousel-2 .carousel-item img {
    width: 71% !important;
    height: 500px !important;
}
#carousel-2 .carousel-caption {
    text-align: left;
    left: auto;
    right: 5%;
    top: 6px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 22%;
}
#carousel-2 .carousel-indicators {
    top: 7%;
    right: 7%;  /*22px*/
    left: auto;
    bottom: auto;
    margin: 0;
}
#carousel-2 .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}
#carousel-2 .carousel-control-next-icon{
    background-image: url("/images/arrow-right.svg");
}
#carousel-2 .carousel-control-next{
    width: 30px;
    opacity: 1;
}
#carousel-2 .carousel-control-prev{
    display: none;
}
.dropdown-toggle::after {
    margin-left: 13px !important;
    vertical-align: 0 !important;
    border-top: 10px solid !important;
    border-right: 7px solid transparent !important;
    border-left: 7px solid transparent !important;
}
#dropdown {
    border: none;
    margin: 0 !important;
    width: 100%;
}
#dropdown button#dropdown__BV_toggle_ {
    background: #f2f2f2;
    color: #999999;
    border: none;
    padding: 20px 25px;
    font-family: "Panton";
    font-weight: bold;
    font-size: 21px;
    width:100%; /*320px;*/
    text-align: left;
}
#dropdown .dropdown-toggle::after{
    vertical-align: 0 !important;
    border-top: 13px solid !important;
    border-right: 10px solid transparent !important;
    border-left: 10px solid transparent !important;
    color: #1f1f1f;
    /*margin-left: 177px !important;*/
    float: right;
    position: relative;
    top: 11px;
}
#dropdown ul.dropdown-menu {
    width: 490px;
    /*width: 100%;*/
}
#food-filter #dropdown ul.dropdown-menu{
    left: -50px !important;
}
#dropdown a.dropdown-item {
    padding: 0;
}
#dropdown a.dropdown-item:hover{
    background: none;
}
.padding-top-botom{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
#price-filter li.dropdown-menu-items {
    display: block;
}
#price-filter ul.dropdown-menu {
    left: auto !important;
    right: -100px;
}
#tabes-venue .nav-tabs .nav-link {
    font-family: "panton";
    font-size: 18px;
    font-weight: normal;
    color: #040404 !important;
    border: transparent;
    padding: 0 !important;
    /*margin: 0 45px 0 0;*/
}
#tabes-venue .nav-tabs .nav-item:first-child{
    margin-right: 10px;
}
    a#__BVID__119___BV_tab_button__{
        margin: 0 20px 20px 0;
    }
#tabes-venue .nav-tabs{
    border: none;
}
#tabes-venue .nav-item .active {
    border-bottom: 2px solid black;
}
.v-slider--horizontal .v-slider__thumb-label{
    transform: translateY(0%) translateY(40px) translateX(-50%) rotate(45deg) !important;
    color: black !important;
}
.v-slider__track-fill.primary {
    background: #8ba939 !important;
}
.v-slider__thumb{
    width: 22px !important;
    height: 22px !important;
    background: #8ba939 !important;
}
.v-slider__thumb:before{
    display: none;
}
.v-slider__thumb.primary {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.05);
}
.v-slider__track-container{
    height: 4px !important;
}
.v-card__text {
    padding: 18px 15px !important;
}
.v-slider__thumb-label.primary span::before{
    content: "€";
    position: absolute;
    color: black;
    font-size: 13px;
    left: -10px;
}
.bm-menu {
    position: absolute !important;
    top: unset !important;
    background-color: #f2f2f2 !important;

}
.mapboxgl-ctrl-geocoder--input{
    height: 44px !important;
}
.bm-burger-button {
    position: relative !important;
}

.slick-track{
    padding-left: 30px !important;
    width: 970px;
}


@media screen and (min-width: 1200px) and (max-width: 1299px) {
    .container {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .navbar-brand{
        padding: 17px 0 !important;
    }
    .img-width{
        width: 123px;
    }
    li#__BVID__7{
        padding: 0px;
        line-height: 0;
    }
    a#__BVID__7__BV_button_{
        font-size: 12px;
        padding: 13px 15px;
        line-height: 1;
    }
    a.nav-link{
        font-size: 11px;
        line-height: 0.8;
        padding: 11px 21px !important;
    }
    .register a {
        line-height: 1.1;
    }
    .singin {
        padding: 0 10px 0 16px;
    }
}

/* change by arslan */
@media screen and (max-width: 990px) {

    .slick-track{
        padding-left: 20px !important;
    }
}

@media screen and (min-width: 960px) {
    .mapboxgl-ctrl-geocoder{
        max-width: unset !important;
    }
    .mapboxgl-ctrl-geocoder--icon {
        top: 11px !important;
    }
    .mapboxgl-ctrl-geocoder--icon-search{
        left: 6px !important;
        height: 23px !important;
        width: 23px !important;
    }
}
@media screen and (max-width: 760px) {

    .slick-track{
        padding-left: 40px !important;
    }
}


@media screen and (max-width: 576px) {
    #carousel-1 .carousel-caption{
        top: 6%;
    }
    ol#carousel-1___BV_indicators_{
        margin-bottom: 0;
    }

    .form-control{
        font-size:18px !important;
        width: 100% !important;
        height: 40px !important;
    }

    .slick-track{
        padding-left: 10px !important;
    }
    /*.banner-caption{*/
    /*    right: 10% !important;*/
    /*    left: 10% !important;*/
    /*}*/

    .catagory{
        margin: auto !important;
    }
    html {
        overflow-x: hidden;
    }
    #food-filter #dropdown ul.dropdown-menu{
        left: unset !important;
    }
    #price-filter ul.dropdown-menu {
        right: unset;
    }
}
@media screen and (max-width: 400px) {

    .slick-track{
        padding-left: 0px !important;
    }
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.pagination > li > a{
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

/*drawer layout style start*/
.drawer-layout[data-v-64b53805] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    margin-top: 100px;
}
/*drawer layout style end*/
.vue-star-rating-rating-text[data-v-34cbeed1] {
    display: none;
}
.vue-star-rating[data-v-34cbeed1] {
    display: unset !important;
    align-items: center;
}
